* {
  margin: 0;
  padding: 0; }

/*mixins , colors*/
/*logo*/
.logo {
  width: 90px; }

.texto-logo {
  font-size: 40px;
  color: white;
  font-weight: 600;
  padding: 0px 0px 0px 20px; }

.texto-logo-movil {
  font-size: 15px;
  color: white;
  font-weight: 600;
  float: right;
  padding: 10px 0px 0px 20px; }

/**carrousel*/
.carousel {
  position: relative;
  margin-bottom: 4rem; }

#myCarousel {
  background-color: #777777; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  text-align: left; }

.imgc {
  height: 80vh;
  display: flex;
  margin: 0 auto; }

/* estilos del body */
.fondo-rojo {
  background-color: #880000; }

.fondo-azul {
  background-color: #2a3964; }

.reglas {
  margin-bottom: 1rem;
  text-align: center; }

/*menu*/
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.nav-link:hover {
  color: #0a58ca !important; }

/* estilos de main */
.btn-primary {
  background-color: #2a3964;
  border: 1px solid #2a3964; }

.mission-vision-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/escuela.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap; }
  .mission-vision-container.mission-vision-subcontainer {
    display: flex;
    align-items: center;
    justify-content: center; }

/* estilos de footer */
.footer {
  background-color: #2a2a2a;
  color: white; }

.d-md-inline-block.text-decoration-none.py-1.px-2 {
  color: white; }

.d-md-inline-block.text-decoration-none.py-1.px-2:hover {
  color: #0a58ca; }

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #0a58ca; }

/*Paginas grados*/
.portada-caption {
  position: relative;
  right: 0;
  background-color: #2c2c2c;
  bottom: 145px;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
  text-align: center; }

.portada-caption h3 {
  font-size: 2rem; }

.fondo-portada, .img-portada {
  height: 400px; }

.img-portada {
  width: 100%; }

.texto-video {
  display: flex;
  align-items: center;
  justify-content: center; }

/* media queries*/
@media (max-width: 960px) {
  /*carrousel*/
  .imgc {
    height: 35vh;
    display: flex;
    margin: 0 auto; } }
