
*{
    margin: 0;
    padding: 0;
}

/*logo*/
.logo{
    width: 90px;
}
.texto-logo {
    font-size: 40px;
    color: white;
    font-weight: 600;
    padding: 0px 0px 0px 20px;
}

.texto-logo-movil {
    font-size: 15px;
    color: white;
    font-weight: 600;
    float: right;
    padding: 10px 0px 0px 20px;
}

/**carrousel*/
.carousel {
    position: relative;
    margin-bottom: 4rem;
}
    
#myCarousel {
    background-color: rgb(119,119 ,119);
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
}
.imgc {
    height: 80vh;
    display: flex;
    margin: 0 auto;
}
/* estilos del body */
.fondo-rojo{
    background-color: #880000;
}
.fondo-azul{
    background-color: #2a3964;
}
.reglas  {
    margin-bottom: 1.5rem;
    text-align: center;
}

/*menu*/

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255,255,255,1);
    }
/* estilos de main */

.btn-primary{
    background-color: #2a3964;
    border:1px solid #2a3964;
}
.mission {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
}
.card-smoke {
    background-color: rgba(0,0,0,.7);
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
}
.block-info-mobile {
    background-color: #3a3a3a;
}


/* estilos de footer */
.footer {
    background-color: #2a2a2a;
    color: #fff;
}

.d-md-inline-block.text-decoration-none.py-1.px-2 {
    color: white;
}

/*animacion scroll**/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  
  