* {
    margin: 0;
    padding: 0;
}

/*mixins , colors*/
$primary-color:#2c2c2c;
$secondary-color: white;
$third-color:#0a58ca;
@mixin felx-stting($align-item, $justify-content) {
    display:flex;
    align-items:$align-item;
    justify-content:$justify-content;
 }
 

/*logo*/
.logo {
    width: 90px;
}

.texto-logo {
    font-size: 40px;
    color: $secondary-color;
    font-weight: 600;
    padding: 0px 0px 0px 20px;
}

.texto-logo-movil {
    font-size: 15px;
    color: $secondary-color;
    font-weight: 600;
    float: right;
    padding: 10px 0px 0px 20px;
}

/**carrousel*/
.carousel {
    position: relative;
    margin-bottom: 4rem;
}

#myCarousel {
    background-color: rgb(119, 119, 119);
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: $secondary-color;
    text-align: left;
}

.imgc {
    height: 80vh;
    display: flex;
    margin: 0 auto;
}

/* estilos del body */
.fondo-rojo {
    background-color: #880000;
}

.fondo-azul {
    background-color: #2a3964;
}

.reglas {
    margin-bottom: 1rem;
    text-align: center;
}

/*menu*/

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: $secondary-color;
}

.navbar-dark .navbar-nav .nav-link {
    color: $secondary-color;
}

.nav-link:hover {
    color:$third-color !important;
}

/* estilos de main */

.btn-primary {
    background-color: #2a3964;
    border: 1px solid #2a3964;
}

.mission-vision-container{
@include felx-stting (center , center);
 background-image: url('../images/escuela.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 height: 50vh;
 width:100%;
 flex-direction: row;
 flex-wrap: wrap;
    &.mission-vision-subcontainer{
       @include felx-stting(center, center);
       &.card-mision-vision{

       }
    }
}




/* estilos de footer */
.footer {
    background-color: #2a2a2a;
    color: $secondary-color;
}

.d-md-inline-block.text-decoration-none.py-1.px-2 {
    color: $secondary-color;
}
.d-md-inline-block.text-decoration-none.py-1.px-2:hover {
    color: $third-color;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: $third-color;
}

/*Paginas grados*/
.portada-caption {
    position: relative;
    right: 0;
    background-color: $primary-color;
    bottom: 145px;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: $secondary-color;
    text-align: center;
}

.portada-caption h3 {
    font-size: 2rem;
}

.fondo-portada {
    height: 400px;
}

.img-portada {
    @extend .fondo-portada;
    width: 100%;
}

.texto-video{
@include felx-stting(center,center);
}

/* media queries*/

@media (max-width : 960px){
    /*carrousel*/
    .imgc {
        height: 35vh;
        display: flex;
        margin: 0 auto;
    }
}